@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tutor Appointments System</h1>
</div>
<div class="align-content-center">
    <img src="~/Content/images/career_banner.jpg" />
</div>
